<div ng-show="!localStorage.usuario.x && !b">
	<form ng-show="!localStorage.usuario.x" class="form">
		<div class="row">
			<div class="col s12 m6 offset-m3">
				<h4>Iniciar sesión</h4>
			</div>
		</div>
		<div class="row">
			<div class="input-field1 col s12 m6 offset-m3 {{errorInput.userError}}">
				<label for="userLogin">Usuario</label>
				<input id="userLogin" type="text" class="" ng-model="localStorage.usuario.Usuario">

			</div>
			<div class="input-field1 col s12 m6 offset-m3 {{errorInput.passError}}">
				<label for="passLogin">password</label>
				<input id="passLogin" type="password" class="" ng-model="localStorage.usuario.Clave">

			</div>
		</div>
		<div class="row">
			<div class="col m6 offset-m3">
				<a class="btn waves-effect" ng-click="loginBtn('btn')">entrar</a>
			</div>
		</div>
	</form>
</div>
</div>


<form ng-show="!crearCuenta && !localStorage.usuario.x && b" name="formSesion">
	<h4>Iniciar sesión</h4>
	<div class="row">
		<div class="input-field1 col s12 {{errorInput.userError}}">
			<label for="userLoginb">Usuario</label>
			<input id="userLoginb" type="text" class="" ng-model="localStorage.usuario.Usuario" required>

			<span ng-show="formSesion.localStorage.usuario.Usuario.$valid">The user is required.</span>
		</div>
		<div class="input-field1 col s12 {{errorInput.passError}}">
			<label for="passLoginb">Password</label>
			<input id="passLoginb" type="password" class="" ng-model="localStorage.usuario.Clave" required>

		</div>
	</div>
</form>