<br>
<div class="container">
<div ng-show="localStorage.usuario.x" class="row">
	<div class="col s9 m10 l12">
	<div ng-controller="datatableCliente as showCase">
		<a style="position: absolute;right: 25px;top: 90%;" class="btn-floating btn-large waves-effect waves-light" onclick="openModalTable()"><i class="material-icons">add</i></a>
	<form class="form-inline" ng-submit="showCase.addPerson()" style="background: #fff;padding: 5px;box-shadow: 1px 1px 4px #777;">
	<div id="modalFormTable" class="modal">
	    <div class="modal-content">
	      <h4>{{showCase.tituloModal}}</h4>
	      <div class="row">
	      	<div class="col s12">
	      		<label for="edit1">ID</label>
	      		<input id="edit1" class="form-control" type="number" name="id" ng-model="showCase.person2Add.id" value="">
	      	</div>
	      	<div class="col s12">
	      		<label for="edit2">Nombre</label>
	      		<input id="edit2" type="text" class="form-control" name="firstName" ng-model="showCase.person2Add.firstName" value="">
	      	</div>
	      	<div class="col s12">
	      		<label for="edit3">Apellido</label>
	      		<input id="edit3" type="text" class="form-control" name="lastName" ng-model="showCase.person2Add.lastName" value="">
	      	</div>
	      </div>
	    </div>
	    <div class="modal-footer">
	      
	      <button ng-show="showCase.editarDatoTabla" type="button" class="btn" ng-click="showCase.modifyPerson(showCase.indexX)"><i class="fa fa-edit"></i> Guardar</button>
	      <button ng-show="!showCase.editarDatoTabla" type="submit" class="btn"><i class="fa fa-plus"></i> Nuevo</button>
	      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="showCase.editarDatoTabla = false;showCase.person2Add = _buildPerson2Add('','','');">Cerrar</a>
	    </div>
	</div>

		<table datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover" width="100%">
		    <thead>
		    <tr>
		    	<th>Index</th>
		        <th>ID</th>
		        <th>First name</th>
		        <th>Last name</th>
		        <th></th>  
		    </tr>
		    </thead>
		    <tbody>
		    <tr ng-repeat="person in showCase.persons">
		    	<td>{{$index}}</td>
	            <td>{{ person.id }}</td>
	            <td class="c">{{ person.firstName }}</td>
	            <td class="c">{{ person.lastName }}</td>
	            <td>
	            	<span class="controlDelete tooltipped" data-position="left" data-delay="50" data-tooltip="Eliminar" ng-click="showCase.removePerson($index)"><i class="fa fa-trash-o"></i></span>
	            </td>
	          
	        </tr>
		    </tbody>
		</table>
		</form>
	</div>
	</div>
</div>
<div ng-show="!localStorage.usuario.x">
	<form ng-show="!localStorage.usuario.x" class="form">
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<h4>Iniciar sesión</h4>
		</div>
	</div>
		<div class="row">
			<div class="input-field col s12 m6 offset-m3">
				<input id="userLogin" type="text" class="validate" ng-model="localStorage.usuario.user">
				<label for="userLogin">Usuario</label>
			</div>
			<div class="input-field col s12 m6 offset-m3">
				<input id="passLogin" type="password" class="validate" ng-model="localStorage.usuario.pass">
				<label for="passLogin">password</label>
			</div>
		</div>
		<div class="row">
			<div class="col m6 offset-m3">
				<a class="btn waves-effect" ng-click="loginBtn('btn')">entrar</a>
			</div>
		</div>
	</form>
</div>
</div>